###############################################################################
# macOS
###############################################################################

.DS_Store

###############################################################################
# Logs
###############################################################################

*.log

###############################################################################
# Temporary files
###############################################################################

*.tmp
*.bak
*.swp
*.swo

###############################################################################
# Editor
###############################################################################

.vscode/*.code-workspace

###############################################################################
# Shell
###############################################################################

*.out

###############################################################################
# Environment
###############################################################################

.env
.env.*

###############################################################################
# Generated reports
###############################################################################

coverage/
reports/

###############################################################################
# Misc
###############################################################################

*.orig
